/* Commot styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
:root {
    --brand-color: #434455;

}
/* Reset */
ul,ol {
    list-style: none;
}
a {
    text-decoration: none;
    font-style: normal;
}
button {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

/* Header styles */
.link {
    font-family: 'Raleway',sans-serif;
    text-decoration:none;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5
}
.logo {
}
.web {
}
.dark-studio {
    color: #2E2F42;
}
.link.list {
}
.link.nav-list {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}
.link.nav-list:hover,
.link.nav-list:focus {
    color: #404BBF;
}
.address {
}
.adress-list {
}
.address-item {
}
.address-mail {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.address-mail:hover,
.address-mail:focus {
    color: #404BBF;
}
/* Hero styles */
.hero {
    background-color: #2E2F42;
}
.hero-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;  
}
.hero-btn {
width: 169px;
height: 56px;
left: 636px;
top: 428px;
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.hero-btn:hover {
    background: #404BBF;;
}
.hero-btn:focus{
    background: #404BBF;;
}
.hero-btn-content {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
}

/* Benefits styles */
.benefits {
}
.benefits-title {
}
.list {
}
.benefits-item {
}
.benefits-item-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.benefits-item-title-content {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* Doing section */
.doing {
}
.doing-title {
    font-family: 'Roboto';
font-style: normal;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.list {
}
.doing-item {
}
.doing-img {
}
/* Team section */
.team {
    background-color: #FFFFFF;;
}
.team-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.list {
}
.team-item {
}
.team-img {
}
.team-item-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.team-item-content {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* Footer styles */
.footer {
    background-color: #2E2F42;;
}
.light-style {
color: #F4F4FD;
}
.footer-content {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
}
/* Button section */
.button-section {
}
.button-title {
}
.list {
}
.button-item {
}
.button-item-style {
    background-color: #F4F4FD;
}
.button-item-style :hover,
.button-item-style :focus {
    background-color: #404BBF;}
    .button-item-content {
        color: #4D5AE5;
    }
    .button-item-content :hover,
    .button-item-content :focus {
        color: #FFFFFF;
    }
    
/* Portfolio styles */
.portfolio-section {
}
.list {
    list-style: none;
}
.portfolio-item {
}
.portfolio-images {
}
.portfolio-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.portfolio-content {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

